<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsdj.lushan.impl.LoginMapper">
    <!--
     namespace:命名空间
     id:唯一标识
     resultType:返回类型
     #{id}:从传递过来的参数中取出id值
     -->
    <select id="login" resultType="com.lsdj.lushan.bean.LoginBean">
        select user_name from lsdj_user where user_name = #{user_name} and user_psd = #{user_psd}
    </select>
</mapper>